.container-fluid {
  margin: 0;
  padding: 0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid;
  border-image-source: linear-gradient(to right, #4CAF50, #FF9800);
  border-image-slice: 1;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #4CAF50;
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: white; */
  padding: 10px 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* border-bottom: 5px solid transparent; */
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease;
}

.logo-icon {
  font-size: 50px;
  color: #FF9800;
}

.logo:hover {
  transform: scale(1.1);
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  color: #FF9800;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-bottom 0.3s ease;

}
nav ul li a:hover{
  transform: scale(1.1);
}
